$app-bgcolor-header:#2e3537;
$app-border-header:1px solid #252a2c;
$app-color-header:#ffffff;
$app-bgcolor-header-btn:rgba(0, 0, 0, 0.2);
$app-bgcolor-headerbtn-border:  rgba(0, 0, 0, 0.1);
$app-bgcolor-navbar:rgba(255, 255, 255, 0.95);
