<div class="headerClass">
  <div class="container">
    <div class="row">
      <div class="col-3 col-sm-6 col-lg-9">
        <div class="header-top clearfix">
          <ul class="social-links clearfix">
            <li>
              <i class="fa fa-facebook-square"></i>
            </li>
            <li>
              <i class="fa fa-twitter-square"></i>
            </li>
            <li>
              <i class="fa fa-linkedin-square"></i>
            </li>
            <li>
              <i class="fa fa-youtube-play"></i>
            </li>
            <li>
              <i class="	fa fa-whatsapp"></i>
            </li>
            <li>
              <i class="fa fa-google-plus-square"></i>
            </li>
          </ul>
          <ul class="siteInfo">
            <li class="fa fa-map-marker pr-1 pl-2">Address,City,Postal Code</li>
            <li class="fa fa-phone pr-1 pl-2">Address,City,Postal Code</li>
            <li class="fa fa-envelope-o pr-1 pl-2">example@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-9 col-sm-6 col-lg-3">
        <div class="text-right">
          <button  class="btn btn-dark btn-sm mr-1"><i class="fa fa-user pr-2"></i>Sign Up</button>
          <button class="btn btn-dark btn-sm ml-1"><i class="fa fa-lock pr-2"></i>Login</button>
        </div>
      </div>
    </div>
  </div>